- unifi_console:
    url: https://10.2.84.1
    username: {{ vault_homepage_unifi_user }}
    password: {{ vault_homepage_unifi_password }}
    href: https://network.legoland.tech

- glances:
    url: http://10.2.84.7:61208
    version: 4
    cpu: false
    mem: false
    disk: /data
    diskUnits: bytes # (default) or bbytes
    expanded: false