[defaults]
inventory = inventory.yml
remote_user = root
host_key_checking = False
vars_plugins_enabled = host_group_vars
result_format = yaml
# Gather facts only if they aren't present in cache
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./.ansible_cache
# 86,400 seconds = 24 hours
fact_caching_timeout = 86400
interpreter_python = auto_silent
vault_password_file = ~/.ansible_vault_password
# Remove temp files even in case of failure
allow_world_readable_tmpfiles = False
# Do not store secrets in logs
no_target_syslog = True

[ssh_connection]
# Execute commands in one connection without re-connection
pipelining = True
ssh_args = -o ControlMaster=auto
    -o ControlPersist=60s
    -o StrictHostKeyChecking=no
    -o UserKnownHostsFile=/dev/null